.product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #f5f5f7;
    user-select: none;
    

    .product-cart-image-wrapper {
        width: 20%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    .product-cart-info-wrapper {
        width: 78%;

        h4 {
            margin-bottom: 10px;
        }

        .product-cart-details {
            font-size: 12px;
        }

        .details-dot {
            content: '';
            background: black;
            width: 2px;
            height: 2px;
            display: inline-block;
            margin: 4px;
            border-radius: 50%;
        }

        .product-cart-quantity-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        .product-cart-quantity {
            height: 25px;
            width: 74px;
            border: 2px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;

            span {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 6px;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.5);
                    cursor: pointer;
                }
            }

            svg {
                height: 11px;
                width: 11px;
            }
        }

        .product-cart-regular-price {
            text-decoration: line-through;
            margin-right: 10px;
        }

        .product-cart-discount-price {
            font-weight: 700;
        }

        .product-cart-discount-price-red {
            color: red;
        }
    }
}
