.custom-button {
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 14px 30px;
    max-height: 46px;
    border-radius: 100px;
    border: none;
    background: transparent
        linear-gradient(180deg, #338de8 0, #338de8 50%, #0071e3 100%) 0 0
        no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background: transparent
            linear-gradient(180deg, #338de8 0, #338de8 100%, #0071e3 100%) 0 0
            no-repeat padding-box;
    }
}
