body {
    background: white;
}

*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
    letter-spacing: 0px;
}
